opentelemetry-api>=1.38.0
opentelemetry-sdk>=1.38.0
opentelemetry-exporter-otlp>=1.38.0
opentelemetry-instrumentation>=0.59b0
# opentelemetry-exporter-otlp-proto-grpc==1.18.0
# prometheus-client==0.16.0
# python-json-logger==2.0.7